/*
bleu : #3a61ef;  
bleu foncé : #253879;  
bleu clair : #dfe4f7;  
blanc cassé : #eafbf0;  
blanc : #ffffff;  
rouge : #d9022f;  
vert : #1e7062;  
noir : #0d0f0f;

font-family: 'Oswald', sans-serif;
font-family: 'Work Sans', sans-serif;*/
* {
    margin:0;
    padding:0;
}

body {
    width:100vw;
    height:100vh;
}

body > h1 {
    text-align:center;
    text-transform:uppercase;
    color:#253879;
    font-family: 'Oswald', sans-serif;
}

main {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    background-color:#eafbf0;
}
#info {
    grid-colums:1/2;
}

.formtxt{
    border:0px;
    background-color:#dfe4f7;
    width:95%;
    height:30px;
}

#profil {
    grid-colums:2/3;
    border-left:1px solid #253879;
}

#centre_interet {
    grid-colums:3/4;
    border-left:1px solid #253879;
}

#niveau {
    display:grid;
    grid-template-columns:1fr 1fr;
}

#profdev {
    display:grid;
    grid-template-columns:1fr 1fr;
}
#centreI {
    display:grid;
    grid-template-columns:1fr 1fr;
}

.left {
    grid-colums:1/2;
}

.right {
    grid-colums:2/3;
}

.submit {
    background-color:#3a61ef;
    color:#ffffff;
    padding:5px 10px 5px 10px;
    margin-top:30px;
    border:0px;
}

section {
    font-family: 'Work Sans', sans-serif;
}

section > h2 {
    background-color:#3a61ef;
    color:#ffffff;
    text-align:center;
    text-transform:uppercase;
    font-family: 'Oswald', sans-serif;
    padding:20px 40px 20px 40px;
}

form {
    margin:30px 0 0 15px;
}

footer {
    position:fixed;
    height:30px;
    background-color:#253879;
}